.post-banner {
  display: flex;
  justify-content: center;
  gap: 147px;
  align-items: center;
  border-radius: 20px;
  padding: 4px 0px;
  font-size: 18px;
  color: #003333;
  background-color: #e8e8e0;
  font-family: sans-serif;
  width: 50%;
  margin: 2rem 0px 0px 23rem;
  }
  
  .post-button {
    background-color: #084c45;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s ease-in-out;
  }
  
  .post-button:hover {
    background-color: #063a34;
  }
  