.search-container {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 39px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 650px;
  margin: 5.1rem 0px 0px 33rem;
  /* position:sticky; */
}


.input-group {
  display: flex;
  align-items: center;
  padding: 0 12px;
  border-right: 1px solid #ccc;
  flex: 1;
}

.input-group:last-of-type {
  border-right: none;
}

.input-group .label {
  margin-right: 8px;
  font-size: 18px;
}

.input-group input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  padding: 12px 0;
}

.search-button {
  background: linear-gradient(to right, #a8e063, #56ab2f); /* light green gradient */
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s ease;
}

.search-button:hover {
  background: linear-gradient(to right, #56ab2f, #a8e063);
}
