body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  width:100%;
  /* overflow: hidden; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color:antiquewhite;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #ffff;
  font-weight:bold;
  font-weight:cursive;
}

.hero {
  text-align: center;
  background-color: #ffffff;
  background:url("./assets/banner.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-position:initial;
  height:116vh;
  width:100%;
}
 .detail{
     
    margin: 3.5rem 0px 0px 0rem;
    display:inline-block;
    position: sticky;
   
}

.hero h1 {
  font-size: 68px;
  font-family: cursive;
  margin: 10.1rem 0px 0px 33rem;
  color: #ffff;
}

.hero p {
  font-size: 18px;
  color: #666;
}